body {
	font-family: 'Nunito', sans-serif;
}
#updates {
	border-left: 5px solid #0EE842;
	padding: 20px;
	border-radius: 10px;
	background-color: #CFCFCF;
	margin: 30px 0;
}
#updates article {
	margin-bottom: 25px;
}
#updates h3 {
	margin-bottom: 10px;
}
#updates img {
	cursor: pointer;
	margin-right: 10px;
	margin-top: 10px;
	border-radius: 5px;
	transition: transform 0.2s;
}
#updates img:hover {
	transform: scale(1.05);
}
#aboutme {
	border-left: 5px solid #0EE842;
	padding: 20px;
	border-radius: 10px;
	background-color: #CFCFCF;
	margin: 30px 0;
}
#photos {
	border-left: 5px solid #0EE842;
	padding: 20px;
	border-radius: 10px;
	background-color: #CFCFCF;
	margin: 30px 0;
}
#photos img {
	cursor: pointer;
	margin-right: 10px;
	margin-top: 10px;
	border-radius: 5px;
	transition: transform 0.2s;
}
#photos img:hover {
	transform: scale(1.05);
}
#settings {
	border-left: 5px solid #0EE842;
	padding: 20px;
	border-radius: 10px;
	background-color: #CFCFCF;
	margin: 30px 0;
}
body.light {
	background-color: white;
	color: black;
}
body.dark {
	background-color: #121212
	color: #eee;
}
body.dark #updates,
body.dark #aboutme,
body.dark #photos,
body.dark #settings {
	background-color: #1E1E1E;
	border-left: 5px solid #0EE842;
}
body, #updates, #aboutme, #photos, #settings {
	transition: background-color 0.3s, color 0.3s;
}
